/* Colors */
.colors {
  background-color: rgba(198, 224, 220, 0.8);
  background-color: rgba(236, 228, 206, 0.8);
  background-color: rgba(242, 212, 174, 0.8);
  background-color: rgba(244, 142, 120, 0.8);
}

/* Text Styles */

.p {
  font-family: sans-serif;

}

/* INDEX STYLES */

.col-conteiner {
  width: 100vw;
  height: 100vh;
}
.col-sesion {
  height: 94.8vh;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
}

/* -- SIDE LEFT -- */
#col1 {
  width: 70%;
  margin: 2% 0.2% 2% 0;
  background-color: rgba(198, 224, 220, 0.4);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.4s;
  justify-content: center;
  place-items: center;
  display: flex;
}
#col1:hover {
  background-color: rgba(236, 228, 206, 0.8);
  width: 70%;
  margin: 2% 2% 2% 2%;
  box-shadow: 0px 0px 12px 2px rgba(242, 212, 174, 0.8);
}
#col2#col1:hover {
  width: 30%;
}
#div-front-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
#div-uworldbook {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
  place-items: center;
  background-color: transparent;
}
#uworldbook {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(236, 228, 206, 1);
  text-align: center;
  place-items: center;
  justify-content: center;
  transition: 0.8s all;
  cursor: pointer;
}
.achicar {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.agrandar {
  height: 250px;
  width: 250px;
  border-radius: 75px;
  background-color: rgba(244, 142, 120, 1);
}
.agrandar::after,
.agrandar::before {
  display: none;
  transition: 0s all;
}
#uworldbook:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,0.2);
}
#uworldbook:hover::before, 
#uworldbook:hover::after {
  content: ' ';
  position: absolute;
  display: block;
  height: 250px;
  width: 250px;
  background-color: rgba(244, 142, 120, 1);
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

#uworldbook:hover:after {
  background-color: rgba(198, 224, 220, 1);
  animation: 1s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: 16px;
    left: 0px;
  }
 12% {
    top: 8px;
    left: -8px;
  }
  24% {
    top: 0px;
    left: -16px;    
  }
  36% {
    top: -8px;
    left: -8px;
  } 
  50% {
    top: -16px;
    left: 0px;    
  }
 62% {
    top: -8px;
    left: 8px;
  } 
  74% {
    top: 0px;
    left: 16px;
  }
  86% {
    top: 8px;
    left: 8px;
  } 
  100% {
    top: 16px;
    left: 0px;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -16px;
    left: 0px;
  }
 12% {
    top: -8px;
    left: 8px;
  }
  24% {
    top: 0px;
    left: 16px;    
  }
  36% {
    top: 8px;
    left: 8px;
  } 
  50% {
    top: 16px;
    left: 0px;    
  }
 62% {
    top: 8px;
    left: -8px;
  } 
  74% {
    top: 0px;
    left: -16px;
  }
  86% {
    top: -8px;
    left: -8px;
  } 
  100% {
    top: -16px;
    left: 0px;    
  }
}



#div-about {
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 1s ease-in-out;
}
.div-about-show {
  height: 100%;
}
.div-about-hidden {
  height: 2%;
}
.card-about {
  position: relative;
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  height: 100%;
  background-color: rgba(198, 224, 220, 1);
  transition: all 0.4s ease-in-out;
  display: flex;
}
.card-about::before, 
.card-about::after {
  content: '';
  position: absolute;
  border-left: 10px solid rgb(130, 145, 185);
  border-right: 10px solid rgba(236, 228, 206, 1);
  height: 30px;
  transition: all 0.6s ease-in-out;
  border-bottom-left-radius: 20px;
}
.card-about:hover {
  width: 70%;
  background-color: rgba(242, 212, 174, 1);
  border-bottom-left-radius: 30px;
}
.card-about:hover::after,
.card-about:hover::before {
  border-left: 10px solid rgb(90, 118, 168, 1);
  border-right: 10px solid rgba(236, 228, 206, 1);
  height: 100%;
  border-bottom-left-radius: 10px;
}
.card-about-content {
  width: 100%; 
  height: 100%;
  justify-content: center; 
  place-items: center; 
  margin-left: 24px;
  transition: all 0.8 ease-in-out;
  opacity: 1;
}
.card-about:not(:hover) .card-about-content {
  overflow: hidden;
  min-width: 250px;
  opacity: 0.4;
  transition: all 0.8 ease-in-out;
}
.card-about:hover .card-about-content {
  opacity: 1;
  transition: all 0.8 ease-in-out;
}

/* -- SIDE RIGHT -- */

#col2 {
  transition: all 0.4s ease-in-out;
  width: 30%;
  margin: 2% 0 2% 0;
  background-color: rgba(236, 228, 206, 0.2);
  transition: all 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.04);
  transition-delay: 0.4s;
  overflow-y: auto;
}
#col2:hover {
  background-color: rgba(236, 228, 206, 0.8);
  width: 70%;
  margin: 2% 2% 2% 2%;
  box-shadow: 0px 0px 12px 2px rgba(242, 212, 174, 0.8);
}
/* #col2:hover, #col2:focus {
  background-color: rgba(236, 228, 206, 0.8);
  width: 70%;
  margin: 2% 2% 2% 2%;
  box-shadow: 0px 0px 12px 2px rgba(242, 212, 174, 0.8);
} */

/* Div Sesion - Register Styles */

#box-sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  place-items: center;
  min-height: 700px;
}
.div-sesion {
  width: 40%;
  height: 10%;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.div-sesion-agrandar {
  height: 50%;
}
.div-sesion-achicar {
  height: 10%;
}
.box-form {
  min-width: 150px;
  transition: visibility 0.4s ease-in-out;
  border-radius: 10px;
  background-color: rgba(242, 212, 174, 0.6);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  border: 2px solid gray;
  transition: all 0.2s ease-in-out;
  padding: 8%;
  /* min-height: 250px; */
}
.box-form:hover::after {
  border: 2px solid transparent;
}
#box-log-in {
  visibility: hidden;
  height: 0;
}
#box-sign-up {
  visibility: hidden;
  height: 0;
}

/* FORM EDIT */

#form-edit {
  border-radius: 10px;
}
.input-edit {
  height: 28%;
  border-radius: 8px;
  border-color: transparent;
  border: 0 0 4px 0 solid black;
  margin: 2%;
  background-color: rgba(198, 224, 220, 0.4);
  transition: all 0.2s ease-in-out;
  color: black;
}
.input-edit-sign-in {
  visibility: hidden;
}
.input-edit-log-in {
  visibility: hidden;
}
.input-edit::placeholder {
  /* color: rgba(255, 255, 255, 0.4); */
}
.input-edit[type="password"], 
.input-edit[type="text"] {
  margin: 2.90%;
  padding: 10px;
  background-color: rgba(198, 224, 220, 0.4);
  border-radius: 8px;
  height: 90px;
}
.button-form {
  text-decoration: none;
  background-color: transparent;
  color: wheat;
}
.center-div {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin: 2%;
}

/* BUTTONSTYLE */
.my-button {
  cursor: pointer;
  position: relative;
  width: 40%;
  min-width: 100px;
  height: 20%;
  margin: 8px;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  white-space: nowrap;
}
.my-button::after,
.my-button::before {
  content: '';
  width: 10%;
  height: 10%;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.my-button::after {
  top: -1px;
  left: -1px;
  border-top: 4px solid rgba(255, 255, 255, 0.4);;
  border-left: 4px solid rgba(255, 255, 255, 0.4);;
}
.my-button::before {
  bottom: -1px;
  right: -1px; 
  border-bottom: 5px solid rgba(255, 255, 255, 0.4);;
  border-right: 5px solid rgba(255, 255, 255, 0.4);;
}
.my-button:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgba(255, 255, 255, 0.4);;
}
.my-button:hover::after,
.my-button:hover::before {
  width: 100%;
  height: 100%;
  border-color: gray;
  color: white;
} 

/* -------------------- */

/* DIV STYLES */

.div-tittle-card {
  min-height: 8%;
  max-height: 16%;
  /* margin: 4% 30% 6% 6%; */
  line-height: 1;
  transition: all 1s ease-in-out;
}
.div-tittle-card:hover {
  justify-content: center;
  place-items: center;
}

#div-flecha {
  width: 0%;
  height: 2%;
  position: relative;
  justify-content: center;
  place-items: center;
  display: flex;
  border-radius: 0px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.up {
  transform: translate(646%, 0%);
  border-top: 24px solid black;
  border-left: 34px solid transparent;
  border-right: 38px solid transparent;
  border-bottom: 38px solid transparent;
}
.down {
  transform: translate(646%, 384%);
  border-top: 24px solid transparent;
  border-left: 34px solid transparent;
  border-right: 38px solid transparent;
  border-bottom: 38px solid black;
}
/* -- -- -- --  */

.Iniciopag {
  background-color: #0b5b80;
}
.fondo1{
background-color: #179cbc ;
  
}
.fondo2{
  background-image: url(../img/logopral.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.fondo5{
  background-color: rgb(43, 39, 39);
  background-size: cover;
  background-attachment: fixed;
  background-position:left ;
}
.fondo4{
  background-image: url(../img/fondo3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position:left ;
}
.reglog{
  --f7-login-screen-title-text-align: center;
  --f7-login-screen-title-text-color: #ffffff;
  --f7-login-screen-title-letter-spacing: 0;
  --f7-login-screen-title-font-weight: 600;
  --f7-login-screen-title-font-size: 28px;
  --f7-login-screen-content-bg-color: #3e82a1;
  --f7-login-screen-content-page-color: #1278a7;
  
  --f7-login-screen-bg-color: #e89292;
}
.paletcolor1{
  background-color: #179cbc;
  color: #a2b9ee;
}
.paletcolor2{
  background-color: #97cddd;
}
.paletcolor3{
  background-color: #adeee2;
}
.paletcolor4{
  background-color:rgb(156, 146, 146);
}
.imgforma{
  width: 80%;
  height: 80%;
  border-radius: 20px;
  margin-bottom: -14%;
}
.imgformaperfil{
  width: 14vw;
  height: 18vh;
  border-radius: 50%;
}
.imgfperfilopc{
  width: 8vw;
  height: 10vh;
  border-radius: 50%;
}
.btn1 {
  border-color: white;
  color: white;
}
.btn10 {
  background-color: #71a68f;
}
.btn12 {
  background-color: #a67171;;
  
}
.btn2 {
  margin-top: 10%;
  padding-top: 4%;
  border-color: rgb(56, 54, 54);
  color: rgb(56, 54, 54);
}
.btnreg {
  background-color: rgb(112, 112, 112);
  color: rgb(216, 210, 210);
  border-color: rgb(255, 255, 255);
  margin-bottom: 8%;
  border-style: solid;
  border: 20%;
  font-size: 72%;
}
.btntabbar{
  height: 6vh;
}
.tabbarr{
  height: 6vh;
  background-color: #065893;
}
.fontbtn2 {
  font-size: 70%;
}
.fontbtn2 {
  font-size: 80%;
}
.btnpost{
  width: 22%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center ;
  justify-content: center;
}
.derecha{
  text-align: center;
  display: flex;
  flex-direction: right;
  align-items: right;
  align-content:right ;
  justify-content: right;
}
.izquierda{
  text-align: center;
  display: flex;
  flex-direction: left;
  align-items: left;
  align-content:left ;
  justify-content: left;
}
.centro{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center ;
  justify-content: center;
}
.centro1{
  text-align: center;
}
.centro2{
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center ;
  justify-content: center;
}
.abajo{
  text-align: center;
  flex-direction: column;
  align-items: bottom;
  align-content: bottom;
  justify-content: center;
}
.verde{
  background-color: green;
}
.red{
  background-color: red;
}
.azulm{
  color: #0b5b80;
}
.novisible{
  display: none;
  visibility: hidden;
  
}
.novisible2{
  visibility: hidden;
  
}
.visible{
  display: block;
  visibility:visible ;
}
.visible2{
  visibility: visible;
}
.margpadd{
  margin-top: 20%;
  padding-top: 8%;
}
.margpadd2{
  padding-top: 4%;
}
.tamanio{
  width: 60%;
  height: 30%;
}
.paginas{
  width: 40%;
  height: 30%;
}
.fijo{
  position: static;

}
.mgpost{
  width: 6vh;
}
.iconhome{
  background-image: url(../img/home.png);
}
.fijoscroll{
  position: sticky;
  top: 30%;
  justify-content: center;
  display: flex;
  align-content: center;
  margin-left: 2%;
}
.navbarr{
  height: 4%;
  color: #47cda7;
}
.navbarrr{
  background-color: #065893;
}
.btnmenu {
  background-color: #5257f3;
  margin-right: 4%;
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Italic'), local('Poppins-Italic'),
       url('../fonts/poppins-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/poppins-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
       url('../fonts/poppins-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black'), local('Poppins-Black'),
       url('../fonts/poppins-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
       url('../fonts/poppins-v13-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900italic.svg#Poppins') format('svg'); /* Legacy iOS */
}



* {
	font-family: 'Poppins', Arial, sans-serif;
}


